# Django configs
DJANGO_SECRET_KEY={{cookiecutter.key}}
{% if cookiecutter.debug == 'y' %}
DEBUG=True
{% else %}
DEBUG=False
{% endif %}
DJANGO_SETTINGS_MODULE={{cookiecutter.settings_module}}
COMMAND=sh ./scripts/{{cookiecutter.script}}
PORT={{cookiecutter.port}}

{% if cookiecutter.bot_token != 'no' %}
BOT_TOKEN={{cookiecutter.bot_token}}
{% endif %}

# Databse configs
# https://docs.djangoproject.com/en/4.2/ref/settings/#databases
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=django
DB_USER=postgres
DB_PASSWORD=2309
DB_HOST=db
DB_PORT=5432

# Cache
CACHE_BACKEND=django.core.cache.backends.redis.RedisCache
REDIS_URL=redis://redis:6379

{% if cookiecutter.cache == 'y' %}
CACHE_ENABLED=True
{% else %}
CACHE_ENABLED=False
{% endif %}
CACHE_TIMEOUT=120

#####################
# Message Broker
#####################
RABBITMQ_URL=amqp://guest:2309@rabbitmq:5672/vhost
RABBITMQ_RESULT_BACKEND=rpc://
RABBITMQ_PORT={{cookiecutter.rabbitmq_port}}

# Vite settings
VITE_LIVE=False
VITE_PORT=5173
VITE_HOST=127.0.0.1

# Sms service
SMS_API_URL=https://notify.eskiz.uz/api
SMS_LOGIN=admin@gmail.com
SMS_PASSWORD=key

# Addition

ALLOWED_HOSTS=127.0.0.1,web{% if cookiecutter.allowed_hosts != 'no' %},{{cookiecutter.allowed_hosts}}{% endif %}
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:88{% if cookiecutter.csrf_trusted_origins != 'no' %},{{cookiecutter.csrf_trusted_origins}}{% endif %}

# Celery
CELERY_FLOWER={{cookiecutter.celery_port}}


OTP_MODULE={{cookiecutter.otp_module}}
OTP_SERVICE={{cookiecutter.otp_service}}