channels
uvicorn
backports.tarfile
celery
django-ckeditor-5
django-cors-headers
django-environ
django-extensions
django-filter
django-modeltranslation
django-redis
django-rosetta
django-unfold
djangorestframework-simplejwt
drf-spectacular
importlib-metadata
importlib-resources
jaraco.collections
packaging
pip-chill
platformdirs
psycopg2-binary
tomli
